.header {
  overflow: hidden;
  background-color: #e4f8d9;
  padding: 15px 12% 5px 12%; 
}

.header-slogan {
  padding: 3px 12% 3px 12%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bbf39f;
  font-size: 18px;
  margin: 0px;
}

/* Kõigile linkidele hederis mõjub */
.header a {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  color: rgb(11, 36, 0);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 24px;
  margin-right: 6px;
}

/* Päise nime fromaat*/
.header a.name {
  font-size: 25px;
  font-weight: bold;
}

/* Hover effekt nupule-link */
.header a:hover {
  background-color: rgb(194, 238, 158);
  color: black;
}

/* Kui link on klassiga active */
.header a.active {
  background-color: rgb(19, 194, 48);
  color: rgb(0, 0, 0);
}

/* Joondab asjad paremale */
.header .right {
  float: right;
}

.content {
  margin: 0 12%;
}

body {
  margin: 0;
}

/* laseb telefonist normaalselt vaadata */
@media screen and (max-width: 600px) {
  .header {
    padding: 5px 7px;
  }

  .header a {
    float: none;
    display: block;
    text-align: left;
    margin-bottom: 6px;
  }

  .header .right {
    float: none;
  }

  /* Pole vaja seda näidata, ruumi niigi vähe */
  .header-slogan {
    display: none;
  }

  .content {
    margin: 0 1%;
  }
}

@media screen and (max-width: 1200px){
  .content {
    margin: 0 7%;
  }
  
  .header {
    padding: 15px 7% 5px 7%;
  }

  .header-slogan {
    padding: 3px 7% 3px 7%;
  }
}