ul {
   font-family:Arial, Helvetica, sans-serif;
   font-size: 16px;
   color:  rgb(0, 0, 0); 
   text-align: left;
}

img {
    border: 6px solid #4b8c56;
    max-width: 100%;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.image {
   flex-basis:40%;
}
